<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="localhost"/>
    <add key="Port" value="6379"/>
    <add key="abortConnect" value="false"/>
    <add key="allowAdmin" value="true"/>
    <add key="channelPrefix" value="xxx"/>
    <add key="connectRetry" value="999"/>
    <add key="connectTimeout" value="6379"/>
    <add key="configChannel" value="xxx"/>
    <add key="defaultDatabase" value="0"/>
    <add key="keepAlive" value="999"/>
    <add key="name" value="Redis"/>
    <add key="password" value="123456789"/>
    <add key="proxy" value="proxy"/>
    <add key="resolveDns" value="false"/>
    <add key="serviceName" value="service"/>
    <add key="ssl" value="true"/>
    <add key="sslHost" value="sslHost"/>
    <add key="syncTimeout" value="999"/>
    <add key="tiebreaker" value="key"/>
    <add key="version" value="1"/>
    <add key="writeBuffer" value="1"/>    
  </appSettings>
</configuration>